.punto2
{

    position: absolute;
	display: block;
	text-decoration: none;
	top: 70%;
	background-color: #F7819F;
	border-radius: 4px 3px 6px / 2px 4px;
	width: 200px;
	height: 70px;
	text-align: center;
	border-style: dashed;
	font-family: arial;
	font-size:12px;
	left: 70%;
}